
<div class="container" style="background-color: {{backgroundColor}}">

  <form>
    <div class="title">
      {{title}}
    </div>
    <hr />
    <label>Website title</label>
    {{input value=title}}
    <label>Background Color</label>
      {{color-picker
      currentColor=backgroundColor
      on-change=(action (mut backgroundColor))}}
  </form>

</div>
